.display-flex{
    display: flex;
}
.body{
    margin: 20px 100px;
    background-color: #F5F8FF;
}
.orange-color{
    color:#E95A08 ;
}
.light-gray{
    color: #838282;
}

.noto-serif{
  font-family: "Noto Serif", serif;
  font-optical-sizing: auto;
  font-style: normal;
}
.inter-font{
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
}



.home-bar{
    display: flex;
    align-items: center;
}
.logo{
    height: 82px;
    width: 135px;
}
.nav-container{
    justify-content: space-between;
    text-align: center;
    align-items: center;
}
.list-item{
    list-style: none;
   
}
.list-item a{
    text-decoration: none;
    color: #838282;

}
.list{
     gap: 48px;
}
.cart-icon{
    height: 24px;
    width: 24px;

    
}

.cart{
    margin-left: 48px;
}
.banner-tittle{
    font-size: 2.5rem;
    font-weight: bold;
    margin-top: 80px;
}
.banner-container{
    justify-content: space-between;
    align-items: center;
}
.banner-discription{
    margin-top: -35px;
    
    font-size: 18;
}

.plant-header{
    text-align: center;
    margin-top: 70px;
}
.plant-desciption{
    font-size: 18;
}
.plant-heading{
    font-size: 60;
}

.btn{
   width: auto;
   background-color: #E95A08;
   color: white;
   border: none;
   padding: 20px 50px;
   font-size: 16px;
   font-weight: 600;
   width: 240px;
    
}
.card{
   
    align-items: center;
    text-align: center;
     
}
.card-container{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 30px 20px;
    align-items: stretch;
    
}
.img{
    display: block;
  width: 100%;
  height: auto;         
  object-fit: cover;    
}
.price{
    font-size: 22px;
    font-weight: bold;
    font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
}
.flower-name{
    font-size: 22px;
    font-weight: 500;
    font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
}


.badge{
    height: 286px;
    width: 286px;
    position: relative;
    top: -39.5rem;
    left: 19.3rem;
   
    animation: spin 4s linear infinite;
  transform-origin: center center; 
    
}
 @keyframes spin {
  from { transform: rotate(0deg); }
  to   { transform: rotate(360deg); }
}
.plant-lover{
    display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 210px;
}
.plant-li-items{
    font-size: 22px;
    font-family: "Inter", sans-serif;
    color: #838282;
    max-width: 540px;
    
}

.plant-lover-image{
    max-width: 540px;
    max-height: 597px;
}
.plant-lover-heading{
    margin-left: 20px;
    font-size: 50px;
    font-weight: bold;
}

.double-image{
    display: flex;
    flex-direction: column;
    gap: 24px;
    

}
.double-image img{
    max-height: 201px;
    max-width: 367px;
    border-radius: 22px;
}
.single-image img{
    max-width: 753px;
    max-height: 423px;
    
    border-radius: 22px;
    
}
.offer-one .overlay {
    
  position: absolute;
  
  inset: 0;
  background: linear-gradient(to top, rgba(16, 15, 15, 0.6), transparent 100%);
  border-radius: 22px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: #fff;
  overflow: hidden;
}
.offer-two .overlay {
    
  position: absolute;
  inset: 0;
  background: linear-gradient(to top, rgba(16, 15, 15, 0.6), transparent 100%);
  border-radius: 22px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: #fff;
  overflow: hidden;
}
.third-offer .overlay {
    
  position: absolute;
  inset: 0;
  background: linear-gradient(to top, rgba(16, 15, 15, 0.6), transparent 100%);
  border-radius: 22px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: #fff;
  overflow: hidden;
}
.latest-image-container{
    display: flex;
    gap: 24px;
}


.offer-one{
    position: relative;
  display: inline-block;
}

.offer-two{
    position: relative;
  display: inline-block;

}
.third-offer{
    position: relative;
  display: inline-block;
}

.offer-one img .offer-two img{
    display: block;
 max-width: 753px;
 max-height: 423px;
}
.latest-deal{
    align-items: center;
    text-align: center;
    margin-top: -250px;
}
.latest-deal-heading{
    font-size: 50px;
    font-weight: bold;

}
.latest-description{
    font-size: 22;
}
.latest-image-container button{
    background: none;
    border: none;
    color: white;
    
}
.latest-image-container button:hover{
    color: #E95A08;
}

.subscribe{
    display: flex;
    flex-direction: column;
    margin-top: 50px;
    text-align: center;
    align-items: center;
    justify-content: center;
    background-image: url(assets/news-letter-bg.png);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    width: 100%;
    height: 480px;
   
}
#email{
    height: 20px;
    width: 544px;
    padding: 10px;
    border: none;
    
}
.last-button{
    background-color: #E95A08;
    color: white;
    padding:  10px 15px;
    border: none;
    
    text-align: center;
}
.colorful-brunch-tittle{
    font-size: 45px;
    font-weight: bold;
    color: white;
}

.footer {
  background-color: #f8fafd;
  padding: 40px 20px;
  font-family: sans-serif;
}

.footer-container {
  max-width: 1200px;
  margin-top: 60px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: flex-start;
  gap: 40px;
}

.footer-left {
  max-width: 300px;
}

.footer-logo {
  width: 150px;
  margin-bottom: 15px;
}

.footer-left p {
  color: #555;
  font-size: 16px;
  line-height: 1.5;
}

.footer-links {
  display: flex;
  gap: 60px;
}

.footer-links div {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.footer-links a {
  text-decoration: none;
  color: #444;
  font-size: 15px;
}

.footer-links a:hover {
  color: #f06543;
}

.footer-social {
  display: flex;
  gap: 20px;
}

.footer-social img {
  width: 30px;
  height: 30px;
  
}


@media screen and (max-width: 576px) {
    .banner-container, .plant-lover, .latest-deal, .latest-image-container, .footer-container, 
    .footer-links{
        flex-direction: column;
    }
    .list, .badge{
        visibility: hidden;
    }
    .card-container{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    }
    .single-image img, .double-image img{
        height: 184px;
        width: 361px;
    }
    .subscribe{
        width: 393px;
        height: 276px;
    }
    .input{
        width: auto;
        background-size: auto;
    }
    .cart{
      margin-left: auto;
    }
    #email{
    height: auto;
    width: auto;
    padding: 5px;
    border: none;
    }
    .last-button{
      padding: auto;
    }
    

    
  .offer-one .overlay,
  .offer-two .overlay{
    padding: auto;
    justify-content: center;
    align-items: center;
    text-align: center;
    height: 184px;
    width: 361px;
    margin-left: 20px ;
    
    overflow: hidden;

  }
  .third-offer .overlay {
    padding: auto;
    justify-content: center;
    align-items: center;
    text-align: center;
    height: 184px;
    width: 361px;
    
    overflow: hidden;
  }
  .body{
    margin: auto;
  }
    
}
